<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488004192552-f3pd1rsbf379ll01ccs4sopb3t1vppqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488004192552-f3pd1rsbf379ll01ccs4sopb3t1vppqv</string>
	<key>API_KEY</key>
	<string>AIzaSyAn_lTBJx7UXgGdyEk1IwQ8M2c4GvCf_8M</string>
	<key>GCM_SENDER_ID</key>
	<string>488004192552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outtacontrol.superlativesmobile</string>
	<key>PROJECT_ID</key>
	<string>superlatives-c2a9d</string>
	<key>STORAGE_BUCKET</key>
	<string>superlatives-c2a9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488004192552:ios:4f44f85edf9a8bcc88681d</string>
</dict>
</plist>